.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover
{
    color:#000;
    background-color:#f1f1f1;
}
.w3-content
{
    max-width:980px;
}
.w3-sidebar.w3-collapse
{
    display:block;
}
.w3-white,.w3-hover-white:hover
{
    color:#000;
    background-color:#fff;
}
.w3-animate-left
{
    position:relative;
    animation:animateleft 0.4s;
}
.w3-container,.w3-panel
{
    padding:0.01em 16px;
}
.w3-hide-large
{
    display:none;
}
.w3-right
{float:right;
}
.w3-jumbo{font-size:64px!important}
.w3-padding{padding:8px 16px!important}
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover
{
    color:#000;
    
    background-color:#9e9e9e;
}
.w3-round,.w3-round-medium{border-radius:4px}
.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{color:#757575!important}

.w3-btn,.w3-button
{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}


