
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f4f6f8;
}

/* القسم الرئيسي */
.signup{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* الكرت */
.signup-card{
    background: #fff;
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    text-align: center;
}

/* العنوان */
.signup-card h2{
    color: #7d2ae8;
    margin-bottom: 10px;
}

.signup-card p{
    color: #666;
    margin-bottom: 30px;
}

/* الحقول */
.input-box{
    position: relative;
    margin-bottom: 20px;
}

.input-box i{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #7d2ae8;
}

.input-box input{
    width: 100%;
    padding: 12px 45px 12px 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

.input-box input:focus{
    border-color: #7d2ae8;
}

/* زر التسجيل */
.btn{
    width: 100%;
    padding: 12px;
    background: #7d2ae8;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background: #6920c9;
}

/* رابط تسجيل الدخول */
.login-link{
    margin-top: 20px;
    font-size: 14px;
}

.login-link a{
    color: #7d2ae8;
    text-decoration: none;
    font-weight: 500;
}