@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
header{
    position: fixed;
    top: 0;
    /*left: 0;*/
    right: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
}
.logo{
      font-size: 2em;
    color: #555;
    cursor: default;
}
.logo span {
    color: #7d2ae8;
}
.navigation{
   /* margin-left: -300px;*/
   margin-right: -300px;
}
.navigation a{
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    /*margin-right: 40px;*/
    margin-left: 40px;
    font-weight: 500;
    transition: 0.3s;
}
.navigation a:hover{
     color: #7d2ae8;
}
.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background:  #7d2ae8;
    border-radius: 10px;
    border: 2px solid  #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.btn-talk:hover {
    color:  #7d2ae8;
   background: transparent;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/images/aaa.jpg);
   /*background-color: #80baed;*/
   background-size:cover ;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}
.content{
    max-width: 500%;
    color: #555;
        /* background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); */
}
.content h2{
   font-size: 3em;   
}
.content h2 span{
    color: #7d2ae8;
}
.content h4{
        font-size: 2em;
}
.content p{
    padding: 10px 0 40px 0;


}
.profile-image img{
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #7d2ae8;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
    display: flex;
}



.btn-group a{
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid  #7d2ae8;
    font-weight: 500;
    transition: 0.3s;

}
.btn-group a:hover:nth-child(1) {
    color: #7d2ae8;
    background: transparent;
}
.btn-group a:nth-child(2) {
    color: #7d2ae8;
    background: transparent;
   /* margin-left: 30px;*/
   margin-right: 30px;
    padding: 10px 40px;
}
.btn-group a:hover:nth-child(2) {
    color: #fff;
    background: #7d2ae8;
}
.social-icons{
    position: absolute;
    bottom: 50px;

}
.social-icons a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background:  #7d2ae8;
    border-radius: 50%;
   /* margin-right: 22px;*/
   margin-left: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #7d2ae8;
    transition: 0.3px;

}

.social-icons a:hover{
    transform: translateY(-5px);
}
.social-icons a i{
    color: #fff;

}




